/node_modules
/vendor
/.idea
.idea/

# Các file môi trường
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Thư mục build
/build
/dist

# Các file hệ thống
.DS_Store
Thumbs.db
